body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background: #F7F0E8;
    color: #364420;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 60px 40px;
    background: #F7F0E8;
}

a {
    text-decoration: none;
}
.logo img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

nav .icon {
    background: #F7F0E8;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    margin-left: 12px;
    padding: 8px 12px;
    cursor: pointer;
}
nav .icon:hover {
    opacity: 0.7;
}
h1 {
    grid-column: 1 / -1;
    text-align: left;
    color: #364420;
    font-size: 2rem;
    margin: 30px 10px 30px 140px;
}
.main{
    flex: 1;
}

.carousel {
    width: 1240px;
    height: auto;
    margin: 10px auto 40px;
}

.carousel-inner {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-item img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: center;
    gap: 28px;
    margin: 0 auto 52px auto;
    max-width: 1300px;
}
.card {
    background: #fff;
    border-radius: 18px;
    width: 290px;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 8px 18px 24px 18px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    transition: box-shadow 0.2s;
}
.card:hover {
    box-shadow: 0 6px 25px #9da891;
}
.card img {
    width: 270px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 14px;
    align-self: center;
}
.card h3 {
    margin: 6px 0 18px 0;
    font-size: 1.16rem;
    color: #7A9A59;
}
.card .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.card .price {
    color: #94AD81;
    font-size: 1.12rem;
    margin: 0;
}
.card button {
    background: #92b671;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 8px 22px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.card button:hover {
    background: #2F4911;
}
footer {
    background: #D9D9D9;
    color: #707070;
    padding: 26px 80px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-center {
    text-align: center;
}
.footer-social {
    display: flex;
    gap: 40px;
}
.footer-social img {
    width: 32px;
    height: 32px;
}
